.vscode/

.venv/
venv/

*.egg-info/
build/
dist/

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

.env
.DS_Store

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep
data/manifests/
*.parquet